<launch>
    <arg name="baud" default="9600"/>
    <arg name="port" default="/dev/ttyACM0"/>

	<!-- Nodes -->
	<node name="read_sensor_data" pkg="rosserial_python" type="serial_node.py" output="screen">

		<param name="baud" value="$(arg baud)" type="bool"/>
		<param name="port" value="$(arg port)" type="str"/>

	</node>


	<!-- Nodes >
	<node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<remap from="image" to="$(arg image_topic)"/>
		<param name="gui" value="$(arg gui)" type="bool"/>
		<param name="objects_path" value="$(arg objects_path)" type="str"/>
		<param name="settings_path" value="$(arg settings_path)" type="str"/>
	</node-->
</launch>
